<html>
<head>
    <title>About Page</title>
    <style>
        html{
            padding: 0;
    margin: 0;
    font-family: "Lato", Arial, sans-serif;
    height: 100%;
}
body {
    background-color: #e5e5e5;
    height: 100%;
    margin:0px;
    width:100%;
}
    </style>
</head>
<body align="center"  bgcolor="#AED6F1">
    <%- include("navbar_temp") -%><br><br>
<h1 align="center">Website Details:</h1><font size="5" face="trebuchet MS"> 
<p align="center">This website <b>"Student Result Management"</b> is developed on frontend technologies-<b>HTML,CSS,JavaScript</b>
<br>and back end technologies-<b>Nodejs,MongoDB </b> and npm packages:<b>Express,Nodemon,Body-parser,EJS,Mongoose.</b><br><br>
The main idea of this website is to store the student details and their marks.<br>Here students can search their result
using valid Roll ID and their DOB as Password. </font>
</p>
<h1>Team Details:</h1><font size="5" face="trebuchet MS"> 
This project is developed by <b>VIIT-3CSE-4 Batch D-10</b><br>
<br>Details of team members:<br></font>
<table align="center" border="2" style="width:50%","height=200%">
<tr>
<th><font size="5"face="trebuchet MS">S No.</th>
<th><font size="5"face="trebuchet MS">Roll No.</th>
<th><font size="5"face="trebuchet MS">Name</th>
</tr>
<tr>
<td><font size="5"face="trebuchet MS">1.</td>
<td><font size="5"face="trebuchet MS">19L31A05V1</td>&nbsp&nbsp
<td><font size="5"face="trebuchet MS">D.Manjula</font></td>
</tr>
<tr>
<td><font size="5"face="trebuchet MS">2.</td>
<td><font size="5"face="trebuchet MS">19L31A05T5</td>
<td><font size="5"face="trebuchet MS">K.Santhosh</td>
</tr>
<tr>
<td><font size="5"face="trebuchet MS">3.</td>
<td><font size="5"face="trebuchet MS">19L31A05O8</td>
<td><font size="5"face="trebuchet MS">B.Krishna Murthy Naidu</td>
</tr>
<tr>
<td><font size="5"face="trebuchet MS">4.</td>
<td><font size="5"face="trebuchet MS">19L31A05U7</td>
<td><font size="5"face="trebuchet MS">E.Kishor Kumar</td>
</tr>
</table><br>
<font size="5"face="trebuchet MS">Guide Name:Mrs.G.Sujatha
</body>
</html>