<style>
.topnav {
  overflow: hidden;
  background-color: #333;
  display: flex;
  width:100%;
  align-items: center;
  position: fixed;
  z-index: 1;
}

.topnav a {
  float: left;
  color: #f1f1f1;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #C32148;
  color: black;
}
.heading{
  margin-left:20vw;
  color: antiquewhite;
  font-size: 20px;
}
.divScroll{
width:5px;
height:10px;
overflow:scroll;
}
</style>
<div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="/student">Student</a>
    <a href="/admin">Admin</a>
    <a href="/about">About</a>
    <div class="heading">Student Result Management System</div>
  </div>
</div><div class="divScroll"></div>